/* 
.weather {
    place-self: center;
    padding: 40px;
    border-radius: 20px;
    background-color: rgba(199, 190, 190, 0.854);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar input {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: rgb(128, 124, 124);
    background-color: white;
    font-size: 18px;
}

.temp {
    color: white;
    font-size: 80px;
    line-height: 1;
}

.location {
    color: white;
    font-size: 40px;
} */